[Unit]
Description=FALCON-X Menu Service
After=network-online.target falconx-engine.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
